body {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  justify-content: space-between;
  background-color: #252157;
}
.card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 400px;
  background-color: #2e4aa9;
  margin: 10px;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid black;
  color: rgb(17, 235, 140);
  justify-content: space-between;
}
.name {
  font-weight: 600;
}
.name:before {
  content: "Ім'я персонажа: ";
  color: black;
}
.birth {
  color: rgb(17, 235, 140);
}
.birth:before {
  content: "Рік народження: ";
  color: black;
}
.eyes::before {
  content: "Колір очей: ";
  color: black;
}
.gender::before {
  content: "Стать: ";
  color: black;
}

.height::before {
  content: "Зріст: ";
  color: black;
}

.skin::before {
  content: "Колір шкіри: ";
  color: black;
}
.planet a {
  color: rgb(251, 68, 181);
}
.planet::before {
  content: "Адреса планети: ";
  color: black;
}

button {
  width: 200px;
  height: 25px;
  background-color: blue;
  margin: 10px;
  margin-left: 100px;
  cursor: pointer;
}
